:root {
    --white:#fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#about-me {
    display: flex;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-left: 20px;
}
body {
    background-color:  #1f7a7a;
    flex-shrink: 1;
}

.header {
    padding-top: 10px;
    font-family: arial, serif, sans-serif;
    background-color:#00394d;
}

.header h1 {
    display: inline-block;
    font-size: 85px;
    color: white;
}

.header h1 .last{
    color:white;
    font-size: 85px;
    font-family: arial, serif, sans-serif;
}

.header nav {
    padding-top: 20px;
    margin-right: 25px;
    float: right;
    font-family: sans-serif, serif, arial;
    font-size: 28px;
}

.header nav ul {
    list-style-type: inline-block;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color:white;
}

#color {
    color:red;
}

p {
    font-size: 18px;
    width: 70%;
}

#me {
    border-radius: 20px;
    width: 20%;
    height: 20%;
    margin: 20px;
}
 
.headerdesign {
    width:100%;
    height:20px;
    background-image: url("./images/header.jpg");
    background-repeat: repeat-x; 
}
.card {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 50%;
    height: 500px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    color: #1f7a7a;
}

#herocard {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    color: #1f7a7a;
}

#Work {
    display: inline-flex;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-left: 20px;
}

h2{
    margin-right: 20px;
    justify-self: left;
    width:15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
}

h4 {
    position:absolute;
    bottom:0;
    margin-right: 20px;
    justify-self: left;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

h3 {
    font-size: 30px;
    color: black;
}

#boxes {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    width:80%;
    float: right;
}

.flexbox {
    display:flex;
    flex-wrap:wrap;
}

#boxes img {
    display: inline-block;
    width:100%;
    padding-top: 5px;
    text-align: center;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width:90%;
    text-align: center;
}

#numbers {
    position:absolute;
    bottom:0;
    width:100%;
    display: inline-flex;
    justify-content: space-around;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.info {
    position:absolute;
    bottom: 0;
    width: 50%;
}

#herocenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactme {
    display: flex;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-left: 20px;
    float: left;
}


  
  @media screen and (max-width: 768px) {
    .card {
              flex-flow: column;
    }
  }
