*{
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white:#fff;
}

#about-me {
    display: flex;
    color:white;
    font-size: 28px;
    padding-left: 20px;
}

body {
    background-color:  #164e4e;
    flex-shrink: 1;
}
#center{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
}

header {
    padding-top: 10px;
    background-image: url('./images/rocks.jpg');
    background-size: cover;
    height: 100%;
    color: white;
}

#imageContainer{
    text-align: center;
    width: 100%;
}

.header h1 {
    padding-left: 20px;
    display: inline-block;
    font-size: 85px;
    color: white;
}

.header nav {
    padding-top: 60px;
    padding-right: 20px;
    margin-right: 25px;
    float: right;
    font-size: 28px;
}

.header nav ul {
    list-style-type: inline-block;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color:white;
}

p {
    font-size: 26px;
    width: 100%;
}

#me {
    border-radius: 900px;
    width: 20%;
    height: 20%;
    margin: 20px;
    border: 12px solid rgba(126, 237, 252, 0.24);
}

.card {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 50%;
    height: 500px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
} 

#herocard {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    color: #1f7a7a;
}

#Work {
    display: inline-flex;
    color:white;
    font-size: 28px;
    padding-left: 20px;
}

h2{
    margin-right: 20px;
    justify-self: left;
    width:15%;
    color: white;
    font-size: 35px;
    
}

h4 {
    position:absolute;
    bottom:0;
    margin-right: 20px;
    justify-self: left;
    color: red;
    font-weight: bold;
    font-size: 28px;
}

h3 {
    font-size: 30px;
    color: black;
}

#boxes {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    width:80%;
    float: right;
}

.flexbox {
    display:flex;
    flex-wrap:wrap;
}

#boxes img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top: 5px;
} 

 footer {
    display:inline-block;
    width:100%;
} 

 #numbers {
    position:absolute;
    bottom:0;
    width:100%;
    display: inline-flex;
    justify-content: space-around;
    color:red;
    font-weight: bold;
    font-size: 20px;
}

.info {
    position:absolute;
    bottom: 0;
    width: 50%;
}

#herocenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contactMe {
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-bottom: 50px;
    padding-top:10px
}

#myInfo{
    font-size: 30px;
}
   @media screen and (max-width: 777px) {
   nav{display: none;}
    .header h1{
        font-size: 60px;
        padding-left: 0px;
    }
    #myInfo{
        font-size: 20px;
    }
    h2{
        display: none;
    }

    img {
        max-height: 180px;
        max-width: 150px;
    }

    #me{
        display: none;
    }
#herocenter{
    display: flex;
    justify-content: center;
}
    #contactMe{
        color:white;
        justify-content: space-between;
        padding-bottom: 50px;
        padding-top:10px;
        text-align:center;
        flex-direction: column;
        padding-left: 0px;
    }

    p,a {
        font-size: 20px;
    }

    #boxes{
        width:100%;
        padding: 0px;
        float: none;
    }
    h3 {
        font-size: 20px;
    }
    .card{
       max-height: 200px;
    }
}
   